mat-toolbar-row {
    display: inline;
    font-size: xx-large;
  }
  .toolbar {
    text-align: center;
    margin: 10px !important;
    width: auto;
    min-height: 50px !important;
    background: rgba(255, 255, 255, 0.04);
  }
  
  .form {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .error {
    color: red;
    margin-bottom: 15px;
  }
  
  .mt-145 {
    margin-top: 145px;
  }
  .mt-50 {
    margin-top: 50px;
  }
  
  .ml-8 {
    margin-left: 8px;
  }
  