<div class="mt-50 full-height">
  <mat-toolbar class="toolbar">
    <mat-toolbar-row> Forget Password </mat-toolbar-row>
  </mat-toolbar>
  <form [formGroup]="form" class="form">
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input
        (keydown)="onKeyDown($event)"
        formControlName="Email"
        matInput
        email
        required
        type="email"
      />
    </mat-form-field>
    <div *ngIf="errorMessage" class="full-width">
      <span class="error">{{ errorMessage }}</span>
    </div>
    <div class="mt-145">
      <button mat-raised-button color="back" (click)="tabChange.emit(0)">
        Back
      </button>
      <button
        color="primary"
        class="ml-8"
        mat-raised-button
        (click)="onSubmitFrom()"
      >
        Submit
      </button>
    </div>
  </form>
</div>
