<div class="container h-100">
  <div class="d-flex flex-column">
    <div class="header">
      <h5 class="text-bold m-0">Classes</h5>
      <section></section>
    </div>
  </div>

  <div class="divider my-2"></div>

  <app-search-bar (onSearch)="onSearch($event)"></app-search-bar>
  
  <div *ngIf="loading" class="d-flex justify-content-center mt-4">
    <mat-spinner color="accent"></mat-spinner>
  </div>

  <ng-container *ngFor="let item of list">
    <div class="m-2">
      <app-class-card [data]="item"></app-class-card>
    </div>
  </ng-container>
</div>
