<mat-card>
  <mat-card-title>{{ data?.fname }} {{ data?.lname }}</mat-card-title>
  <mat-card-subtitle>{{ data?.title }}</mat-card-subtitle>
  <mat-card-content> 
    What is IELTS and its purpose?
    The International English Language Testing System (IELTS) is designed to help you work, study or migrate to a country where English is the native language. This includes countries such as Australia, Canada, New Zealand, the UK and USA. ... IELTS is graded on a scale of 1-9.
  </mat-card-content>
  <mat-card-actions class="d-flex">
    <div class="ml-auto d-flex align-items-center">
      <p class="m-0 mr-2">Price: {{ data?.price | currency }}</p>
      <button class="ml-auto" mat-stroked-button color="primary">
        Register
      </button>
    </div>
  </mat-card-actions>
</mat-card>
