<div class="nav">
  <strong class="nav-title" routerLink="/">SE Teacher</strong>
  <div class="nav-btns">
    <a
      *ngFor="let item of navbarItems.public; let i = index"
      (mouseover)="setItemPos()"
    >
      <button
        [routerLink]="item?.route"
        [routerLinkActive]="''"
        id="nav-item"
        mat-button
        [disableRipple]="true"
        class="nav-btns-item"
      >
        <span>
          {{ item.title }}
          <mat-icon
            class="nav-btns-item-icon"
            *ngIf="item.subItem && item.subItem.length != 0"
            >expand_more</mat-icon
          >
        </span>
        <div *ngIf="currentRoute == item?.id" class="nav-btns-line"></div>
      </button>
      <div
        [style.left.px]="navItemsPos[i]?.left"
        class="nav-subitem"
        *ngIf="item.subItem && item.subItem.length != 0"
      >
        <ng-container *ngFor="let subItem of item.subItem">
          <a [routerLink]="subItem?.route">
            <button class="nav-subitem-item">
              {{ subItem.title }}
            </button>
          </a>
        </ng-container>
      </div>
    </a>

    
  </div>
</div>
